/*
 * Faz o reset dos estilos CSS padrões do navegador.
 * Saiba mais: https://www.alura.com.br/artigos/o-que-e-reset-css
 */

html, body {
  height: 100vh;
}

html, body, #root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

#root {
  overflow-y: auto;
}
